
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Tracking</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
  </head>
  <body>
    <div class="ui container basic segment">
    <header>
      <h1>
        Hello, thí chủ có muốn bị track hay không?
      </h1>
    </header>

    <main class="ui segment">
      <div class="ui two column divided grid">
  <div class="row">
    <div class="column">
      <h3>
        Đăng nhập
      </h3>
      <div class="ui large form">
        <form method="get" action="register">
  <div class="two fields">
    <div class="field">
      <label>Username</label>
      <input name="username" placeholder="Username" type="text" />
    </div>
    <div class="field">
      <label>Password</label>
      <input name="password" placeholder="Last Name" type="password">
    </div>
  </div>
  <div name="register" class="ui primary button">Đăng nhập</div>
          </form>
</div>
    </div>
    <div class="column">
      <h3>Đăng ký</h3>
      <div class="ui large form">
        <form method="get" action="register">
  <div class="two fields">
    <div class="field">
      <label>Username</label>
      <input name="username" placeholder="Username" type="text" />
    </div>
    <div class="field">
      <label>Password</label>
      <input name="password" placeholder="Last Name" type="password">
    </div>
  </div>
  <div name="register" class="ui primary button">Đăng nhập</div>
          </form>
</div>
    </div>
  </div>
</div>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>
</div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js" integrity="sha256-Bhi6GMQ/72uYZcJXCJ2LToOIcN3+Cx47AZnq/Bw1f7A=" crossorigin="anonymous"></script>
    <script src="/livereload.js"></script>

  </body>
</html>
