
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Tracking</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
  </head>
  <body ng-app="tracking" ng-controller="mainCtrl">
    <div class="ui container basic segment">
    <header>
      <h1>
        Mã số của thí chủ là {{code}}
      </h1>
    </header>

    <main class="ui segment">
      <h3>
        Xem thông tin của thí chủ <button></button>
      </h3>
      
      <div class="ui segment" ng-if="show-info"></div>
      
      
      
      <h3>
        Đây là log của thí chủ. <a href="/logout">Xoá Cookies và mọi dấu vết</a>
      </h3>
      
      <table class="ui celled table">
  <thead>
    <tr>
      <th>Site</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="log in logs">
      <td><a ng-href="{{log.referrer}}">{{log.referrer}} </a></td>
      <td>{{log.time | date: 'short' }}</td>
    </tr>
  </tbody>
</table>
    </main>


    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>
</div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js" integrity="sha256-Bhi6GMQ/72uYZcJXCJ2LToOIcN3+Cx47AZnq/Bw1f7A=" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    
    <script>
      const app = angular.module('tracking', []);
      
      app.controller('mainCtrl', ['$scope', '$http', function($scope, $http) {
        $scope.showInfo = false;
        
        $http.get('/log').then(response => {
          $scope.code = response.data.id;
          $scope.logs = response.data.logs;
        });
        
        $scope.viewInfo = function() {
          $http.get('/info').then(response => {
            $scope.showInfo = true;
            $scope.info = response.data;
          });
        }

      }]);
    </script>
  </body>
</html>
